/* liste_apprenants.css */
.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
}

.btn-details {
    background-color: blue;
}

.btn-edit {
    background-color: green;
}

.btn-delete {
    background-color: red;
}

.btn:hover {
    opacity: 0.8;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

table th, table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f2f2f2;
}
